:root {
    --color-grey1: #444444;
    --color-grey2: #171717;
    /* --color-blue1: rgba(53, 126, 199, 55%); */
    --color-blue1: #3b72ff;
    --color-background: #2c2c2c;

    --toolbar-height: 1.5rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    display: inline-block;
    width: 100%;
    height: 100vh;;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#navbar {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: var(--toolbar-height);
    background-color: var(--color-grey2);
    border-bottom: 1px solid var(--color-grey1);
}

.dropdown {
    position: relative;
    height: 100%;
    width: min-content;
}

.dropdown-button {
    height: 100%;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    background-color: transparent;
    color: white;
    border: 1px solid transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-size: 0.8rem;
    background-color: #f1f1f1;
    min-width: 150px;
    z-index: 100;
    border: 1px solid var(--color-grey1);
    background-color: var(--color-background);
    padding: 1px;
}

.dropdown-content button{
    display: block;
    color: white;
    padding: 0.4rem 0.4rem;
    text-decoration: none;
    display: block;
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: var(--color-blue1);
}

.dropdown.active .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button, .dropdown.active .dropdown-button {
    background-color: var(--color-blue1);
    border: 1px solid var(--color-blue1);
}



#content {
    display: flex;
    flex-direction: row;
    padding-top: var(--toolbar-height);
    width: 100%;
    height: 100%;
}

#left-panel {
    flex-shrink: 0;
    position: relative;
    min-width: 250px;
    max-width: calc(100% - 250px);
    width: 400px;
    border-right: 1px solid var(--color-grey1);
}

#left-panel-handle {
    height: 100%;
    width: 10px;
    position: absolute;
    right: -5px;
    top: 0;
    z-index: 10;
}

#left-panel-handle:hover {
    cursor: col-resize;
}

#view {
    position: relative;
    width: 100%;
    height: 100%;
}

#view canvas {
    position: absolute;
}

#editor {
    height: 100%;
}


#right-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#bottom-panel {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    width: 100%;
    min-height: 100px;
    max-height: calc(100% - 100px);
    height: 250px;
    background-color: var(--color-background);
    border-top: 1px solid var(--color-grey1);
}

#bottom-panel-handle {
    width: 100%;
    height: 10px;
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 10;
}

#bottom-panel-handle:hover {
    cursor: row-resize;
}

#bottom-panel-bar {
    padding: 5px;
    display: flex;
    gap: 0.75rem;
    flex-direction: row;
    height: 2.5rem;
    flex-shrink: 0;
    border-bottom: 1px solid var(--color-grey1);
}

#bottom-panel-bar button {
    background: none;
    border: none;
    color: #ffffff;
    height: 100%;
    padding: 0;
    aspect-ratio: 1 / 1;
}

#bottom-panel-bar button:hover {
    color: #aaaaaa;
}

#bottom-panel-console {
    width: 100%;
    height: 100%;
    padding: 0.25rem;
    color: white;
    font-family: monospace;
}

/* #bottom-panel-bar button:active {
    color: var(--color-blue1);
} */